<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3DIAL - OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">

</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-container">
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


        
    <div class="container">
        <form method="POST" action="/verify_otp">
            <input type="text" id="otp" name="otp" placeholder="Enter OTP" required>
                
            <button type="submit">Verify</button>
        </form>
    </div>
    <script src="{{ url_for('static',filename='script.js')}}"></script>
</body>
</html>
